.home_container {
    // margin-top: 100px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;

    .home_section1 {
        height: 800px;
        width: 100%;
        background-image: url(https://media.graphassets.com/output=format:webp/fzBNVQYRjOr4dXgH1lW9);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 69% 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
            margin-top: 150px;

            h3 {
                width: 45%;
                font-weight: 500;
                font-size: 54px;
                color: white;
                margin-top: 50px;
            }

            p {
                width: 40%;
                font-weight: 500;
                font-size: 17px;
                color: rgba(255, 255, 255, 0.658);
                margin-top: 30px;
            }

            span {
                margin-top: 30px;
                display: flex;
                gap: 20px;
            }

            h2 {
                font-weight: 400;
                // width: 100%;
                font-size: 22px;
                color: rgb(255, 255, 255);
                margin-top: 130px;
            }
        }
    }

    .home_section2{
        
        background: url("../../images/section2_background.svg"), rgb(224, 224, 224);
        background-size: cover;
        background-repeat: no-repeat;

        height: 600px;
        width: 100%;
        
        .alice_carosel{
            padding: 0px 30px;
            transform: translateY(-100px);
        }
        
        .text_section{
            display: flex;
            flex-direction: column;
            // justify-content: center;
            // align-items: center;
            gap: 20px;
            // width: 60%;
            padding: 0px 10%;
            text-align: center;
            h3{
                font-size: 40px;
            }
            p{
                font-size: 25px;
                color: rgba(99, 99, 99, 0.822);
                line-height: 40px;

            }
        }
    }
}
