


*{
  margin: 0px;
  padding: 0px;
  --swiper-scrollbar-bottom: 10px;

}
body{

 
}

.container2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  width: 1150px;
}


::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background-color: black;
  border-radius: 5px;
}